h5 class="bg-info padding-10 text-primary #{psa_type} jobRePullSetupData hidden"
h5 class="bg-info padding-10 text-primary #{psa_type} jobPullBoardStatuses hidden"
h5 class="bg-info padding-10 text-primary #{psa_type} jobSetupPsaConfig hidden"
