= render partial: "shared/threats/threat_indicator_details", locals: { date: threat_indicator_device.created_at, details: threat_indicator_device.details, timezone: device.timezone, indicator: indicator }
