.hosted-field {
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
    display: inline-block;
    box-shadow: none;
    font-size: 14px;
    border-radius: 3px;
    border: 2px solid #dddddd;
    line-height: 20px;
    background: #fff;
    color: #555;
  }

  .braintree-hosted-fields-focused {
    border-color: #c6c6c6;
  }

  .braintree-hosted-fields-invalid {
    border-color: #bf6464;
  }

  .braintree-hosted-fields-valid {
  }
